html {
    font-size: 120%;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to bottom, #111111, #303030);
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul {
    padding-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    list-style: none;
}

.menu ul li {
    padding-right: 5em;
    /*Utilisation de em pour s'adapter au texte et avoir un écart homogène*/
    border-radius: 10px 10px 0 0;
    color: white;
}

h1 {
    font-size: 6em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0);
}

#benjamin {
    position: relative;
    right: 15%;
    -webkit-text-stroke: 1.5px #d64f07;
}

#boutrois {
    position: relative;
    color: #d64f07;
    left: 10%;
}

.bandeau h2 {
    margin-top: 50px;
}

.bandeau {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.bandeau .texte {
    text-align: center;
    font-size: 120%;
    max-width: 600px;
    color: #d64f07;
}

.code-block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 89px;
    font-family: 'Varela Round';
    font-size: 160%;
    color: rgb(77, 73, 73);
    background-color: rgb(36, 31, 31);
    border-radius: 20px;
    ;
}

.code-block div {
    margin-bottom: 10px;
}

.code-block div:nth-child(2),
.code-block div:nth-child(3),
.code-block div:nth-child(4) {
    padding-left: 15%;
}

.code-block div:nth-child(4) {
    white-space: nowrap;
}

.code-block div:nth-child(5) {
    margin: 0px;
}

.html-design {
    display: flex;
}

.html-color {
    color: rgba(230, 81, 81, 0.899);
    transition: transform 0.5s,
        color 0.15s;
}

/*.html-color:hover {
    transform: translate(-1.5px, -2px);
    color: rgb(186, 123, 123);
}*/

.css-color {
    color: rgba(231, 193, 39, 0.899);
}

.src-color {
    color: rgba(184, 56, 206, 0.899);
}

.js-src-color {
    color: rgba(167, 245, 84, 0.899);
}

.language-color {
    color: rgba(49, 179, 199, 0.899);
}

@media screen and (max-width:1550px) {
    .bandeau {
        grid-template-columns: 60% 40%;
        padding: 80px;
    }
}

@media screen and (max-width:1300px) {
    .bandeau {
        display: block;
        justify-items: center;
        text-align: center;
    }

    .bandeau .texte {
        text-align: center;
        margin: 0 auto;
        /* Centrer le texte horizontalement */
    }

    .code-block {
        display: none;
    }
}